<h1>Sessions#new</h1>
  <input name=name>	<p>Find me in app/views/sessions/new.html.erb</p>
  <input type=submit value='login'>	<form method='post'>
<% end %>	  <input name='username'>

   <input type='submit' value='login'>
</form> 
